<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="AdminMapperns">
 	<!-- 공지 등록 -->
	<insert id="insertnt" parameterType="notice">
		insert into notice( ntc_sort
						  , ntc_title
						  , ntc_content
						  , ntc_date
						  , ntc_check
						  , ntc_delyn
						  )
				    values( #{ntc_sort}
				    	  , #{ntc_title}
				    	  , #{ntc_content}
				    	  , sysdate()
				    	  , #{ntc_check}
				    	  , 'y'
				    	  )
	</insert>  
	<!-- 공지 리스트 -->
	<select id="noticelist" resultType="notice">
		select ntc_num
     		, ntc_sort
     		, ntc_title
     		, ntc_content
     		, ntc_date
     		, ntc_delyn
     		, mem_grade
from notice
where 1=1
  and case when mem_grade = '1' then ntc_sort = '1'
           when mem_grade = '50'then ntc_sort = '2'
           else ntc_sort = '%'
           end;
	</select>
	<!-- 공지 수정 -->
	<update id="updatent" parameterType="notice">
		update notice set ntc_sort    = #{ntc_sort}
						, ntc_title   = #{ntc_title}
						, ntc_content = #{ntc_content}
						, ntc_delyn	  = #{ntc_delyn}
		where ntc_num = #{ntc_num}
	</update>
	<!-- 카테고리 등록(중) -->
	<insert id="insertmcate" parameterType="mcate">
		insert into mcate(    mcate_code
							, mcate_name
							, lcate_code
							) 
					  values(
							  #{mcate_code}
						    , #{mcate_name}
						    , #{lcate_code}
						   )
	</insert>
	<!-- 카테고리 등록(소) -->
	<insert id="insertscate" parameterType="scate">
		insert into scate(    scate_code
							, scate_name
							, lcate_code
							, mcate_code
							) 
					  values(
							  #{scate_code}
						    , #{scate_name}
						    , #{lcate_code}
						    , #{mcate_code}
						   )
	</insert>
	<!-- 카테고리 리스트(대) -->
 	<select id="lcatelist" resultType="lcate">
 		select lcate_code
 		     , lcate_name
 		  from lcate 
 	  order by lcate_code asc
 	  		   limit 10 offset 0
 	</select>
 	<!-- 카테고리 리스트(중) -->
 	<select id="mcatelist" resultType="mcate">
 		select mcate_code
 			 , mcate_name
 			 , lcate_code
 		  from mcate
 	  order by mcate_code asc
 	           limit 10 offset 0
 	</select>
 	<!-- 카테고리 리스트(소) -->
 	<select id="scatelist" resultType="scate">
 	    select scate_code
 	         , scate_name
 	         , lcate_code
 	         , mcate_code
 	      from scate
 	  order by scate_code asc
 	           limit 10 offset 0
 	</select>
	<!-- FAQ등록 -->
	<insert id="insertfaq" parameterType="faq">
		insert into notice( faq_num
						  , faq_sort
						  , faq_title
						  , faq_content
						  ) 
				    values(
				    		#{faq_num}
				    	  , #{faq_sort}
				    	  , #{faq_title}
				    	  , #{faq_content}
				    	  )
	</insert>
	<!-- faq 리스트 -->
	<select id="faqlist" resultType="faq">
		select faq_num
			 , faq_title 
		  from faq 
	  order by faq_num desc limit 10 offset 0
	</select>
	<!-- 회원 리스트 -->
	<select id="memlist" resultType="memlist">
		select mem_num
		     , mem_id
		     , mem_pass
		     , mem_name
		     , mem_email
		     , mem_phone
		     , mem_date
		     , mem_grade
		     , mem_delyn
		  from member where mem_grade not in('99')
	  order by mem_num asc limit 100 offset 0
	</select>
	<!-- 회원 리스트 내용보기 --> 
    <select id="memdetail" parameterType="String" resultType="memdetail">
    	select * from member where mem_name = #{mem_name}
    </select>
	<!-- 판매자 전환 신청 리스트 -->
	<select id = "chglist" resultType="chglist">
		select m.mem_num
		 	 , m.mem_id
		 	 , m.mem_pass
		 	 , m.mem_name
		 	 , m.mem_email
		 	 , m.mem_phone
		 	 , m.mem_date
		 	 , m.mem_grade
		 	 , m.mem_delyn
		 	 
		 	 , s.sel_num
			 , s.sel_bnum
			 , s.sel_name
			 , s.sel_ceo
			 , s.sel_mobnum
			 , s.sel_post
			 , s.sel_add
			 , s.sel_tel
			 , s.sel_bank
			 , s.sel_accholder
			 , s.sel_acc
			 , s.sel_yn
			 , s.seling_filename
	  	from member m
      	inner join seller s
       		on m.mem_num = s.mem_num
        		where mem_grade = 1
       group by mem_num
       order by sel_num desc limit 0, 10
     </select>
    <!-- 판매자 신청 내용보기 --> 
    <select id="chgdetail" parameterType="String" resultType="chgdetail">
    	select * from seller where sel_name = #{sel_name}
    </select>
	<!-- 판매자 전환 -->
	<update id="sellerupdate">
		update member set mem_grade='50' where mem_num= #{mem_num}
	</update>
	<!-- 판매자 리스트 -->
	<select id="sellist" parameterType="String" resultType="sellist">
		select sel_num
		, mem_num
		, sel_bnum
		, sel_name
		, sel_ceo
		, sel_mobnum
		, sel_post
		, sel_add
		, sel_tel
		, sel_bank
		, sel_accholder
		, sel_acc
		, sel_yn
	from seller where mem_grade not in ('1','99')
	order by mem_num asc limit 10 offset 0
	</select>
	<!-- 판매자 리스트 상세보기 -->
	 <select id="seldetail" parameterType="String" resultType="seldetail">
    	select * from seller where sel_name = #{sel_name}
    </select>
 </mapper>