<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="goodsQnaMapper">
	<!-- 판매자 문의 -->
	<select id="select_goodsqna_list_count" parameterType="String" resultType="int">
		select count(*) from 
		goodsqna gq
		 left join goods g
		 	on g.gds_num = gq.gds_num
		where g.gds_seller=#{sel_name} and gdsqna_delyn=1 and gdsqna_depth=0
		
	</select>
	
	<!-- 판매자 문의글 가져오기 -->
	<select id="select_goodsqna_list" parameterType="java.util.Map" resultType="goodsqna">
		select
			gq.gdsqna_num,
			gq.gds_num,
			gq.gdsqna_sort,
			gq.gdsqna_title,
			gq.gdsqna_content,
			gq.gdsqna_ref,
			gq.gdsqna_step,
			gq.gdsqna_depth,
			gq.gdsqna_date,
			gq.gdsqna_check,
			gq.gdsqna_answer,
			gq.gdsqna_delyn,
			gq.mem_id,
			g.gds_name,
			g.gds_thumbnail,
			gqf.fname
		from goodsqna gq
			left join goods g
		 		on g.gds_num = gq.gds_num
		 	left join goodsqnafiles gqf
		 		on gqf.num = gq.gdsqna_num
		where g.gds_seller=#{sel_name} and gdsqna_delyn=1 and gdsqna_depth=0
		group by gdsqna_num
		order by gdsqna_num desc
		limit #{pageIndex}, 10
	</select>
	
	<!-- 답변 달렸는지 체크하기 -->
	<select id="select_goodsqna_check" parameterType="int" resultType="int">
		select gdsqna_answer from goodsqna where gdsqna_num=#{gdsqna_num} and gdsqna_delyn=1
	</select>
	
	<!-- 문의글 가져오기 -->
	<select id="select_goodsqna_question" parameterType="int" resultType="goodsqna">
		select
			gq.gdsqna_num,
			gq.gds_num,
			gq.gdsqna_sort,
			gq.gdsqna_title,
			gq.gdsqna_content,
			gq.gdsqna_ref,
			gq.gdsqna_step,
			gq.gdsqna_depth,
			gq.gdsqna_date,
			gq.gdsqna_check,
			gq.gdsqna_answer,
			gq.gdsqna_delyn,
			gq.mem_id,
			g.gds_name,
			g.gds_thumbnail,
			gqf.fname
		from goodsqna gq
			left join goods g
		 		on g.gds_num = gq.gds_num
		 	left join goodsqnafiles gqf
		 		on gqf.num = gq.gdsqna_num
		where gq.gdsqna_num=#{gdsqna_num} and gdsqna_delyn=1
	</select>
	
	<!-- gdsqna_ref 로 답변글 가져오기 -->
	<select id="select_goodsqna_answer" parameterType="int" resultType="goodsqna">
		select
			gq.gdsqna_num,
			gq.gds_num,
			gq.gdsqna_sort,
			gq.gdsqna_title,
			gq.gdsqna_content,
			gq.gdsqna_ref,
			gq.gdsqna_step,
			gq.gdsqna_depth,
			gq.gdsqna_date,
			gq.gdsqna_check,
			gq.gdsqna_answer,
			gq.gdsqna_delyn,
			gq.mem_id,
			gqf.fname
		from goodsqna gq
		 	left join goodsqnafiles gqf
		 		on gqf.num = gq.gdsqna_num
		where gq.gdsqna_ref=#{gdsqna_num} 
			  and gdsqna_delyn=1 and gdsqna_step=1
	</select>
	
	<!--qna_num로 답변글 가져오기 -->
	<select id="select_goodsqna_answer_num" parameterType="int" resultType="goodsqna">
		select
			gq.gdsqna_num,
			gq.gds_num,
			gq.gdsqna_sort,
			gq.gdsqna_title,
			gq.gdsqna_content,
			gq.gdsqna_ref,
			gq.gdsqna_step,
			gq.gdsqna_depth,
			gq.gdsqna_date,
			gq.gdsqna_check,
			gq.gdsqna_answer,
			gq.gdsqna_delyn,
			gq.mem_id,
			gqf.fname
		from goodsqna gq
		 	left join goodsqnafiles gqf
		 		on gqf.num = gq.gdsqna_num
		where gq.gdsqna_num=#{gdsqna_num} 
			  and gdsqna_delyn=1 and gdsqna_step=1
	</select>
	
	<!-- 문의 읽음여부 확인 -->
	<update id="update_goodsqna_check" parameterType="int">
		update goodsqna
		set
			gdsqna_check=1
		where 
			gdsqna_num=#{gdsqna_num} 
	</update>
	
	<!-- 문의 답변작성여부 체크 -->
	<update id="update_goodsqna_question_answer_1" parameterType="goodsqna">
		update goodsqna
		set
			gdsqna_answer=1
		where 
			gdsqna_num=#{gdsqna_num} 
	</update>
	
	<!-- 문의 답변 작성 -->
	<insert id="insert_goodsqna_answer" parameterType="goodsqna">
	insert into goodsqna
		(gds_num,
		mem_id,
		gdsqna_sort,
		gdsqna_title,
		gdsqna_content,
		gdsqna_ref,
		gdsqna_step,
		gdsqna_depth,
		gdsqna_date,
		gdsqna_check,
		gdsqna_answer,
		gdsqna_delyn)
	VALUES
		(#{gds_num},
		#{mem_id},
		#{gdsqna_sort},
		#{gdsqna_title},
		#{gdsqna_content},
		#{gdsqna_ref},
		1,
		1,
		SYSDATE(),
		0,
		0,
		1)
	</insert>
	
	<!-- 문의 답변 수정하기 -->
	<update id="update_goodsqna_answer" parameterType="goodsqna">
		update goodsqna
		set
			gdsqna_title = #{gdsqna_title},
			gdsqna_content = #{gdsqna_content},
			gdsqna_date = SYSDATE()
		where
			gdsqna_num=#{gdsqna_num}
	</update>
	
	<!-- 답변글의 ref 가져오기 -->
	<select id="select_goodsqna_answer_ref" parameterType="int" resultType="int">
		select
			gdsqna_ref
		from goodsqna
		where gdsqna_num=#{gdsqna_num}
	</select>
	
	<!-- 문의 답변작성여부 체크 -->
	<update id="update_goodsqna_question_answer_0" parameterType="goodsqna">
		update goodsqna
		set
			gdsqna_answer=0
		where 
			gdsqna_num=#{gdsqna_ref} and gdsqna_depth=0
	</update>
	
	<!-- 메인페이지 문의 리스트 -->
	<select id="select_main_goodsqna_list" parameterType="String" resultType="goodsqna">
		select
			gq.gdsqna_num,
			gq.gds_num,
			gq.gdsqna_sort,
			gq.gdsqna_title,
			gq.gdsqna_content,
			gq.gdsqna_ref,
			gq.gdsqna_step,
			gq.gdsqna_depth,
			gq.gdsqna_date,
			gq.gdsqna_check,
			gq.gdsqna_answer,
			gq.gdsqna_delyn,
			gq.mem_id,
			g.gds_name,
			g.gds_thumbnail,
			gqf.fname
		from goodsqna gq
			left join goods g
		 		on g.gds_num = gq.gds_num
		 	left join goodsqnafiles gqf
		 		on gqf.num = gq.gdsqna_num
		where g.gds_seller=#{sel_name} and gdsqna_delyn=1 and gdsqna_depth=0
		group by gdsqna_num
		order by gdsqna_num desc
		limit 0, 5
	</select>
	
	<!-- 판매자 문의 -->
	<select id="select_mygoodsqna_list_count" parameterType="int" resultType="int">
		select count(*) from 
		goodsqna gq
		 left join goods g
		 	on g.gds_num = gq.gds_num
		where gq.mem_num=#{mem_num} and gdsqna_delyn=1 and gdsqna_depth=0
		
	</select>
	
	<!-- 판매자 문의글 가져오기 -->
	<select id="select_mygoodsqna_list" parameterType="java.util.Map" resultType="goodsqna">
		select
			gq.gdsqna_num,
			gq.gds_num,
			gq.gdsqna_sort,
			gq.gdsqna_title,
			gq.gdsqna_content,
			gq.gdsqna_ref,
			gq.gdsqna_step,
			gq.gdsqna_depth,
			gq.gdsqna_date,
			gq.gdsqna_check,
			gq.gdsqna_answer,
			gq.gdsqna_delyn,
			gq.mem_id,
			gq.mem_num,
			g.gds_name,
			g.gds_thumbnail,
			gqf.fname
		from goodsqna gq
			left join goods g
		 		on g.gds_num = gq.gds_num
		 	left join goodsqnafiles gqf
		 		on gqf.num = gq.gdsqna_num
		where gq.mem_num=#{mem_num} and gdsqna_delyn=1 and gdsqna_depth=0
		group by gdsqna_num
		order by gdsqna_num desc
		limit #{pageIndex}, 10
	</select>
	
	<!-- 내 상품문의글 답변여부 -->
	<select id="mygoodsqna_answer" parameterType="int" resultType="int">
	select gdsqna_answer from goodsqna where gdsqna_num=#{gdsqna_num} and gdsqna_delyn=1
	</select>
	
	<!-- 내 문의 가져오기 -->
	<select id="mygoodsqna_question" parameterType="int" resultType="goodsqna">
	select
			gq.gdsqna_num,
			gq.gds_num,
			gq.gdsqna_sort,
			gq.gdsqna_title,
			gq.gdsqna_content,
			gq.gdsqna_ref,
			gq.gdsqna_step,
			gq.gdsqna_depth,
			gq.gdsqna_date,
			gq.gdsqna_check,
			gq.gdsqna_answer,
			gq.gdsqna_delyn,
			gq.mem_id,
			gq.mem_num,
			g.gds_name,
			g.gds_thumbnail,
			gqf.fname
		from goodsqna gq
			left join goods g
		 		on g.gds_num = gq.gds_num
		 	left join goodsqnafiles gqf
		 		on gqf.num = gq.gdsqna_num
		where gq.gdsqna_num=#{gdsqna_num} and gdsqna_delyn=1
	</select>
	
	<!-- 답변글 가져오기 -->
	<select id="mygoodsqna_answerdetail" parameterType="int" resultType="goodsqna">
	select
			gq.gdsqna_num,
			gq.gds_num,
			gq.gdsqna_sort,
			gq.gdsqna_title,
			gq.gdsqna_content,
			gq.gdsqna_ref,
			gq.gdsqna_step,
			gq.gdsqna_depth,
			gq.gdsqna_date,
			gq.gdsqna_check,
			gq.gdsqna_answer,
			gq.gdsqna_delyn,
			gq.mem_id,
			gq.mem_num,
			gqf.fname
		from goodsqna gq
		 	left join goodsqnafiles gqf
		 		on gqf.num = gq.gdsqna_num
		where gq.gdsqna_ref=#{gdsqna_num} 
			  and gdsqna_delyn=1 and gdsqna_step=1
	</select>
	
	<!-- 내 상품문의 수정 -->
	
	<!-- 내 상품문의 삭제 -->
	<delete id="mygoodsqna_delete" parameterType="int">
		delete from goodsqna where gdsqna_num=#{gdsqna_num}
	</delete>
</mapper>