<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="goodsMapper">
  
  <!-- 리뷰에 gds_num가져가기 -->
  <select id="review_gds" parameterType="int" resultType="goods">
	select * from goods where gds_num=#{gds_num}  
  </select>
  </mapper>