<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="orderMapper">
  
  	<!-- 리뷰페이지 ord_num값 구하기 -->
	  <select id="review_ord" parameterType="int" resultType="order" >
	  select * from project.order where ord_num =#{red_num}
	  </select>
  
  	<!-- 마이 페이지에서 주문 리스트 갯수 구해오기 -->
	<select id="history_list_count" resultType="int" parameterType="int">
		select count(*) 
		from project.orderlist as ol
		left join project.order as o
		 on ol.ord_num = o.ord_num
		where o.mem_num=#{mem_num}
	</select>
	
	<!-- 판매자 페이지에서 주문 리스트 갯수 구해오기 -->
	<select id="select_order_list_count" resultType="int" parameterType="String" >
		select count(*) from project.orderlist where gds_seller=#{sel_name}
	</select>
	
	<!-- 판매자 페이지에서 주문 리스트 불러오기 -->
	<select id="select_order_list" resultType="orderList" parameterType="java.util.Map">
	select 
		ol.ol_num,
		ol.ord_num,
		ol.gds_num,
		ol.opt_num,
		ol.ol_count,
		ol.gds_seller,
	    o.mem_num,
		o.ord_totalprice,
		o.ord_delnum,
		o.ord_request,
		o.ord_status,
		o.ord_date,
	    g.gds_thumbnail,
		g.gds_name,
		g.gds_price,
		d.deltem_delfee,
		m.mem_id,
		p.opt_1stname, 
		p.opt_1stval, 
		p.opt_2ndname, 
		p.opt_2ndval
	FROM project.orderlist as ol
		left join project.order as o
			on ol.ord_num = o.ord_num
		left JOIN project.goods as g
			on ol.gds_num = g.gds_num
		left JOIN project.member as m
			on o.mem_num = m.mem_num
		left JOIN project.option as p
			on ol.opt_num = p.opt_num
		left JOIN project.deliverytemplate as d
			on g.deltem_num = d.deltem_num
	where ol.gds_seller=#{sel_name}
	group by ol.ol_num
	order by ol.ol_num desc
	limit #{pageIndex}, 10
	</select>
	
	<!-- 판매자 페이지에서 주문 상세정보 구해오기 -->
	<select id="select_order_detail" resultType="orderList" parameterType="int" >
		select 
			ol.ol_num,
			ol.ord_num,
			ol.gds_num,
			ol.opt_num,
			ol.ol_count,
			ol.gds_seller,
		    o.mem_num,
			o.ord_totalprice,
			o.ord_delnum,
			o.ord_request,
			o.ord_status,
			o.ord_date
		from project.orderlist as ol
		left join project.order as o
			on ol.ord_num = o.ord_num
		where ol_num=#{ol_num}
	</select>
	
	<!-- 메인페이지에서 가져오기 -->
	<select id="select_main_order_list" parameterType="String" resultType="orderList">
		select 
			ol.ol_num,
			ol.ord_num,
			ol.gds_num,
			ol.opt_num,
			ol.ol_count,
			ol.gds_seller,
		    o.mem_num,
			o.ord_totalprice,
			o.ord_delnum,
			o.ord_request,
			o.ord_status,
			o.ord_date,
		    g.gds_thumbnail,
			g.gds_name
		from project.orderlist as ol
		left join project.order as o
			on ol.ord_num = o.ord_num
		left JOIN project.goods as g
			on ol.gds_seller = g.gds_seller
		where ol.gds_seller=#{sel_name}
		group by ol.ol_num
		order by ol.ol_num desc
		limit 0, 5
	</select>
	
	<!-- 마이페이지 주문내역 리스트 불러오기 -->
	<select id="history_list" resultType="orderList" parameterType="java.util.Map">
	 	select 
		ol.ol_num,
		ol.ord_num,
		ol.gds_num,
		ol.opt_num,
		ol.ol_count,
		ol.gds_seller,
	    o.mem_num,
		o.ord_totalprice,
		o.ord_delnum,
		o.ord_request,
		o.ord_status,
		o.ord_date,
	    g.gds_thumbnail,
		g.gds_name,
		g.gds_price,
		d.deltem_delfee,
		m.mem_id,
		p.opt_1stname, 
		p.opt_1stval, 
		p.opt_2ndname, 
		p.opt_2ndval
	FROM project.orderlist as ol
		left join project.order as o
			on ol.ord_num = o.ord_num
		left JOIN project.goods as g
			on ol.gds_num = g.gds_num
		left JOIN project.member as m
			on o.mem_num = m.mem_num
		left JOIN project.option as p
			on ol.opt_num = p.opt_num
		left JOIN project.deliverytemplate as d
			on g.deltem_num = d.deltem_num
	where o.mem_num=#{mem_num}
	group by ol.ol_num
	order by ol.ol_num desc
	limit #{pageIndex}, 10
	</select>
	
</mapper>

