@charset "UTF-8";


.main{
	margin-left: 600px; 
	margin-right: 30px; 
	margin-top: 100px; 
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:55%;
  height: 20%;
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 12px;
  
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #808080;
  color: white;
  text-align: center;
}


#customers a{
	color: #000;
	text-decoration: none;
}

#customers a:hover{
	color: #808080;
}

#customers button{
	 background-color:#808080;
	 color: #ffffff;
	 float:right;
	 border-radius: 3px;
	 border: 1px solid #000;  /* 버튼 테두리 */
}

#customers button:hover{	/* 버튼을 마우스에 올렸을때 */
	background-color: #ffffff;
	color: #808080;
}
