@charset "UTF-8";


.main{
	margin-left: 300px;
	margin-right: 30px; 
	margin-top: 100px; 
}

#caltable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:100%;
  height: 20%;
}
#caltable td, #caltable th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 12px;
  text-align: center;
}

#caltable tr:nth-child(even){background-color: #f2f2f2;}

#caltable tr:hover {background-color: #ddd;}

#caltable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #808080;
  color: white;
}


#caltable a{
	color: #000;
	text-decoration: none;
}

#caltable a:hover{
	color: #808080;
}

#caltable button{
	 background-color:#808080;
	 color: #ffffff;
	 float:right;
	 border-radius: 3px;
	 border: 1px solid #000;  /* 버튼 테두리 */
}

#caltable button:hover{	/* 버튼을 마우스에 올렸을때 */
	background-color: #ffffff;
	color: #808080;
}

#bbslist_paging{
	text-align:center;
	
}

#bbslist_paging a {
    display:inline-block;
	width:35px;
	height:28px;
	line-height:25px;
	text-align:center;
	background-color:#fff;
	font-size:10px;
	color:#000;
	text-decoration:none;
}

#bbslist_paging a.active {
  background-color: dodgerblue;
  color: white;
}

#bbslist_paging a:hover:not(.active) {background-color: #ddd;}
