@charset "UTF-8";


.mypagesidenav {
  width: 250px;
  height : 100%;
  background: #808080;
  overflow-x: hidden;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  color: white;
}


.mypagesidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  text-align : left;
  padding-left: 20px
}

.mypagesidenav a:hover {
  color: #064579;
}

/* .main {
   margin-left: 250px; Same width as the sidebar + left position in px
} */

*{
  box-sizing: border-box; 
}
  
.title:first-child{
    border-top: 1px solid black;
  }
  
.title{
  position: relative;
  padding: 17px 0;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
  
}
  
.title::before{
  display: inline-block;
  font-size: 14px;
  color: #006633;
  margin-right: 5px;
}

.title.on>a{
  font-weight: bold;
  color: #006633; 
}
  
.menu {
  display: none;
  overflow: hidden;
  font-size: 14px;
  background-color: #f4f4f2;
  padding: 27px 0;
}
  
.menu::before {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #666;
  margin-right: 5px;
}	


