<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <configuration>
 	<typeAliases>
 		<typeAlias type="java.lang.Integer" alias="Integer"/>
 		<typeAlias type="java.lang.String" alias="String"/>
 		<typeAlias type="com.myshop.cm.model.LcateVO" alias="lcate"/>
 		<typeAlias type="com.myshop.cm.model.McateVO" alias="mcate"/>
 		<typeAlias type="com.myshop.cm.model.ScateVO" alias="scate"/>
 		<typeAlias type="com.myshop.cm.model.FaqVO" alias="faq"/>
 		<typeAlias type="com.myshop.cm.model.NoticeVO" alias="notice"/>
 		<typeAlias type="com.myshop.cm.model.MemberVO" alias="member"/>
 		<typeAlias type="com.myshop.cm.model.DeliveryAddressVO" alias="deliveryadd"/>
 		<typeAlias type="com.myshop.cm.model.SellerVO" alias="seller"/>
 		<typeAlias type="com.myshop.cm.model.ReviewVO" alias="review"/>
 		<typeAlias type="com.myshop.cm.model.OrderVO" alias="order"/>
 		<typeAlias type="com.myshop.cm.model.GoodsVO" alias="goods"/>
 		<typeAlias type="com.myshop.cm.model.PayDetailVO" alias="paydetail"/>
 	</typeAliases>
 </configuration>
 
 