<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <configuration>
 	<typeAliases>
 		<typeAlias type="java.lang.Integer" alias="Integer"/>
 		<typeAlias type="java.lang.String" alias="String"/>
 		<typeAlias type="java.util.List" alias="List"/>
 		<typeAlias type="com.myshop.cm.model.QnaVO" alias="QnaVO"/>
 		<typeAlias type="com.myshop.cm.model.OptionVO" alias="OptionVO"/>
 		<typeAlias type="com.myshop.cm.model.GoodsVO" alias="GoodsVO"/>
 		<typeAlias type="com.myshop.cm.model.CartVO" alias="CartVO"/>
 		<typeAlias type="com.myshop.cm.model.CartListVO" alias="CartListVO"/>
 		<typeAlias type="com.myshop.cm.util.Pager" alias="Pager"/>
 		<typeAlias type="com.myshop.cm.model.FaqVO" alias="faq"/>
 		<typeAlias type="com.myshop.cm.model.NoticeVO" alias="notice"/>
 		<typeAlias type="com.myshop.cm.model.MemberVO" alias="member"/>
 		<typeAlias type="com.myshop.cm.model.SellerVO" alias="seller"/>
 		<typeAlias type="com.myshop.cm.model.ReviewVO" alias="review"/>
 		<typeAlias type="com.myshop.cm.model.OrderVO" alias="order"/>
 		<typeAlias type="com.myshop.cm.model.CalculateVO" alias="calculate"/>
 		<typeAlias type="com.myshop.cm.model.PayDetailVO" alias="paydetail"/>
 		<typeAlias type="com.myshop.cm.model.GoodsVO" alias="goods"/>
 		<typeAlias type="com.myshop.cm.model.DeliveryAddressVO" alias="deliveryadd"/>
 		<typeAlias type="com.myshop.cm.model.DeliveryCategoryVO" alias="deliveryCategory"/>
 		<typeAlias type="com.myshop.cm.model.DeliveryTemplateVO" alias="deliveryTemplate"/>
 		<typeAlias type="com.myshop.cm.model.OptionVO" alias="option"/>
 		<typeAlias type="com.myshop.cm.model.GoodsQnaVO" alias="goodsqna"/>
 		<typeAlias type="com.myshop.cm.model.DeliveryAddressVO" alias="deliveryAddress"/>
 		<typeAlias type="com.myshop.cm.model.LCateVO" alias="lcate"/>
 		<typeAlias type="com.myshop.cm.model.MCateVO" alias="mcate"/>
 		<typeAlias type="com.myshop.cm.model.SCateVO" alias="scate"/>
 	</typeAliases>
 </configuration>
 
 